<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是mapper接口的全限定名-->
<mapper namespace="cn.itcast.mybatis.mapper.UserMapper">

<!-- sql片段 -->
<sql id="query_user_where">
  <!-- where可以自动去除第一个and -->
  <where>
   <if test="username!=null and username!=''">
      and username = #{username}
   </if>
    <if test="sex!=null and sex!=''">
      and sex = #{sex}
   </if>
   
   </where>
</sql>

<!-- 查询用户信息
select：将select标签内容称为statement
id：是user.xml中的唯一标识 ，statement的id
parameterType：指定向sql（向statement中）中传入参数的类型
#{}：表示一个点位符，{}中的id表示传入变量名，当传入单个值｛｝中的变量名可以随意
resultType：将sql查询结果集映射成java对象的类型
 -->
<select id="findUserByUsername" parameterType="string"
resultType="cn.itcast.mybatis.po.User">
   SELECT * FROM USER WHERE username = #{id}
</select>

<!-- 查询用户列表  
resultType：sql查询结果一条记录所映射的java对象
-->
<select id="findUserList" parameterType="cn.itcast.mybatis.po.User" resultType="cn.itcast.mybatis.po.User">
   SELECT * FROM USER 
  	<!-- 引用sql片段 -->
   <include refid="query_user_where"/>
   
   
</select>
<!-- 查询用户列表总数 -->
<select id="findUserCount" parameterType="cn.itcast.mybatis.po.User" resultType="int">
   SELECT count(*) FROM USER 
  <!-- 引用sql片段 -->
   <include refid="query_user_where"/>
</select>


</mapper>